@mixin flex-row($justify-content: flex-start, $align-items: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;

  -webkit-flex-direction: row;
  -webkit-justify-content: $justify-content;
  -webkit-align-items: $align-items;
}

@mixin flex-column($justify-content: flex-start, $align-items: stretch) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;

   -webkit-flex-direction: column;
   -webkit-justify-content: $justify-content;
   -webkit-align-items: $align-items;
}
