<header><h2>Get Countries</h2></header>
<div class="country">
	<form [formGroup]="formGroup" class="country__search">
  		<mat-form-field appearance="fill">
    		<mat-label>ISO Country code</mat-label>
    		<input matInput formControlName="countryCode"pattern="[a-zA-Z ]*" maxlength="3"  #countryCode>
			<mat-error *ngIf="countryCodeFormControl?.errors?.minlength">
				ISO code must be at least 2 characters long
			</mat-error>
			<mat-error *ngIf="countryCodeFormControl?.errors?.pattern">
				ISO code must be in alphabets e.g ab or BRA
			</mat-error>
  		</mat-form-field>
		<button mat-stroked-button (click)="$$getCountry(countryCode.value)">search</button>
	</form>
	<div *ngIf="isCountry" class="country__details">
		<h3 class="country__details--heading">{{'Country Details' | uppercase }}</h3>
		<div class="country__detail">
			<span>Country Name:</span><span>{{ country.name }}</span>
		</div>
		<div class="country__detail">
			<span>Region:</span><span>{{ country.region.value }}</span>
		</div>
		<div class="country__detail">
			<span>Capital City:</span><span>{{ country.capitalCity }}</span>
		</div>
		<div class="country__detail">
			<span>Longitude:</span><span>{{ country.longitude }}</span>
		</div>
		<div class="country__detail">
			<span>Latitude:</span><span>{{ country.latitude }}</span>
		</div>
	</div>
	<div *ngIf="isMessageError" class="country__details warning">
		<h3 class="country__details--heading">Country Details</h3>
		<div class="country__detail" *ngFor="let message of messageError.message" >
			<span>{{ message.key }}: </span><span>{{ message.value}}</span>
		</div>
	</div>
</div>